@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.coop-join {
    margin-top: 20px;
    color: #ddd;
    font-size: 1.6em;
    padding: 5px 20px 5px 20px;
    border: 2.3px solid #ddd;
    border-radius: 1em;
    cursor: pointer;
}

.project-content-overview {
    font-family: "Noto Sans JP", sans-serif;
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    color: #ddd;

    #overview,
    #title {
        font-family: "Noto Sans JP", sans-serif;
    }

    h1,
    h2 {
        padding-top: 20px;
    }

    h1 {
        color: #ff7500;
    }

    h2 {
        color: #39e464;
    }

    #overview :not(#title) {
        font-size: 1.1em;
        line-height: 1.3em;
        margin: 0 auto;
        text-align: center;
    }

    #overview #title {
        font-size: 1.8em;
        margin: 0 auto;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 70%;
        max-width: 600px;
        text-align: center;
    }

    #point {
        font-size: 1.6em;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 15px;
    }
}

div {
    font-family: "Splatfont2";
    display: block;

    time {
        font-family: "Splatfont2";
    }

    .coop-schedule-list-item {
        background: rgba(255, 255, 255, 0.05)
            url(https://app.splatoon2.nintendo.net/images/bundled/b24ee02521f18ebe1bf8b05e1396c3dc.png) top;
        background-size: 40px 40px;
        border-radius: 20px;
        padding: 0 4px;
        margin-bottom: 24px;
        color: #fff;
        font-family: Splatoon2, sans-serif;
        box-shadow: 1px 1px 0 #000;
    }

    .coop-schedule-list-item h5 {
        color: #fff;
        font-size: 17px;
        border-bottom: 3px dashed #666;
        padding: 10px 12px 3px;
    }

    .coop-schedule-list-item-content {
        // display: -ms-flexbox;
        display: flex;
        padding: 12px;
    }

    .coop-schedule-list-stage {
        font-size: 13px;
        text-align: center;
        width: 128px;
    }

    .coop-schedule-list-weapons {
        font-size: 15px;
        margin-left: 12px;
        max-width: 180px;
    }

    .coop-schedule-list-weapons p {
        padding: 4px 0;
    }

    .coop-schedule-list-weapons ul {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .coop-schedule-list {
        max-width: 380px;
        margin: 0 auto;
        padding: 0 12px;
    }

    .coop-schedule-list-stage img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .coop-schedule-list-weapons li:not(:last-child) {
        margin-right: 3px;
    }

    .coop-schedule-list-weapons li {
        width: 25%;
        max-width: 45px;
    }

    .coop-schedule-list-weapons img {
        width: 100%;
        height: auto;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    #coop-content-list {
        table {
            thead,
            tbody {
                display: inline-block;
                margin: 0 auto;
                width: 90%;
                color: #ddd;
            }
        }
    }
}
