@font-face {
    font-family: "SplatFont";
    src: url("~assets/fonts/Splatfont.woff") format("woff"), url("~assets/fonts/Splatfont.woff2") format("woff2");
}
@font-face {
    font-family: "SplatFont2";
    src: url("~assets/fonts/Splatfont2.woff") format("woff"), url("~assets/fonts/Splatfont2.woff2") format("woff2");
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
}
div {
    font-family: "Splatfont";
    display: block;
    margin: 0 auto;

    #app {
        .page {
            min-height: calc(100% - 55px);
            box-sizing: border-box;
        }

        header.navigation-bar {
            font-family: "Splatfont";
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            background-image: url(https://app.splatoon2.nintendo.net/images/bundled/26c8c0b675f643f384991434574baf71.png);
            background-size: 80px 80px;
            color: #fff;
            line-height: 48px;
            min-height: 48px;
            font-family: "Splatfont";
            z-index: 1000;

            & h1 {
                text-align: center;
                font-size: 18px;
                padding: 0 16px;
                flex-grow: 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .coop-content {
            position: relative;
            background-image: url(https://app.splatoon2.nintendo.net/images/bundled/8c15ceb605300fbc22963fabcb09fb22.png);
            background-size: 255px 127px;
            background-repeat: repeat;
            overflow: hidden;
            width: 100%;
        }

        .coop-content-header {
            position: relative;
            text-align: center;
            padding: 16px 0 30px;

            h3 {
                font-family: "Splatfont";
                min-width: 200px;
                background-position-x: 50%;
                background-position-y: center;
                box-sizing: border-box;
                color: #ff5033;

                span {
                    padding-top: 12px;
                    min-width: 200px;
                    background-position: 50%;
                    box-sizing: border-box;
                    display: inline-block;
                    background-image: url("https://app.splatoon2.nintendo.net/images/bundled/cc7454b6eb6b8e16852ed21f00e0fd40.png");
                    background-size: 488px 52px;
                    height: 52px;
                    vertical-align: middle;
                }

                &::before {
                    background-position: 0px center;
                    width: 42px;
                    content: "";
                    display: inline-block;
                    background-image: url("https://app.splatoon2.nintendo.net/images/bundled/cc7454b6eb6b8e16852ed21f00e0fd40.png");
                    background-size: 488px 52px;
                    height: 52px;
                    vertical-align: middle;
                }
                &::after {
                    background-position: 100% center;
                    width: 42px;
                    content: "";
                    display: inline-block;
                    background-size: 488px 52px;
                    background-image: url("https://app.splatoon2.nintendo.net/images/bundled/cc7454b6eb6b8e16852ed21f00e0fd40.png");
                    height: 52px;
                    vertical-align: middle;
                }
            }

            h2 {
                position: relative;
                background-image: url("https://app.splatoon2.nintendo.net/images/bundled/a185b309f5cdad94942849070de04ce2.png");
                background-size: contain;
                width: 332px;
                margin: 0 auto;
                height: 112.5px;
                z-index: 1;
                & span {
                    display: none;
                }
            }
        }

        .coop-content-list-wrapper {
            position: relative;
            background: #150909;
            padding-top: 16px;
            padding-bottom: 90px;
            padding-bottom: calc(constant(safe-area-inset-bottom) + 90px);
            padding-bottom: calc(env(safe-area-inset-bottom) + 90px);
            min-height: calc(100vh - 258.46px);
            z-index: 1;

            &::before {
                // background: url(https://app.splatoon2.nintendo.net/images/bundled/b24ee02521f18ebe1bf8b05e1396c3dc.png);
                background: #150909;
                content: "";
                position: absolute;
                width: 100%;
                height: 20px;
                margin-top: -36px;
                left: 0;
                -webkit-mask-image: url("~static/3ff65812f7fc0aff176df4c78172691c.png");
                // mask-image: url(https://app.splatoon2.nintendo.net/images/bundled/3ff65812f7fc0aff176df4c78172691c.png);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }
        }

        #coop-content-list {
        }
    }
}
